.todo-item {
    position: relative;
}
.remove {
    display: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.todo-item:hover .remove {
    display: inline; 
}
.title{
    font-size: 5rem;
    font-weight: 200;
    color: white;
}
.box{
    border-left:none;
}
.itemcounter{
    font-size:13px;
}
.tasks, li, input{
    font-size: 20px;
}
