.todo-item {
    position: relative;
}
.remove {
    display: none;
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.todo-item:hover .remove {
    display: inline; 
}
.title{
    font-size: 4rem;
    font-weight: 200;
    color: white;
}
.box{
    border-left:none;
}
.itemcounter{
    font-size:13px;
}
.tasks, li, input{
    font-size: 17px;
}

@keyframes rotate3D {
    0% {
        transform: rotate3d(1, 1, 0, 0deg);
    }
    100% {
        transform: rotate3d(1, 1, 0, 360deg);
    }
}

.card.rotate-todolist {
    perspective: 1000px; 
    animation: rotate3D 10s infinite linear;
}

.card.no-rotation {
    animation: none;
}

input::placeholder{
    text-align: center;
    font-size: 18px;
}

